<%= form_with(model: @shop) do |form| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% @shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>


  <div class="field">
    <%= form.label :supplier %>
    <%= form.select :supplier_id, options_from_collection_for_select(Supplier.all, :id,:name), {prompt: "select supplier"} %>
  </div>

   <div class="field">
    <%= form.label :address %>
    <%= form.select :supplier_id, options_from_collection_for_select(Supplier.all, :id,:address), {prompt: "select supplier"} %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.file_field :video %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>